modules = ["nodejs-24", "python-3.11", "postgresql-16"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 8080
externalPort = 80

[[ports]]
localPort = 8081
externalPort = 8081

[[ports]]
localPort = 20977
externalPort = 3000

[[ports]]
localPort = 25897
externalPort = 3002

[userenv]

[userenv.shared]
GEMINI_API_KEY = "AIzaSyAZnCOOrBCOgqYJgsHq1DERgd_cxLzlmtc"
SMTP_APP_PASSWORD = "AIzaSyAUy5KA_N7FPcET_oc-ZvP72f2A7m0ttLw"
SMTP_EMAIL = "AIzaSyBA4Bd6iBRunnTQlGrbhXjAm6IlxOIIxP8"
JWT_SECRET = "b9ea74f10f7494eba866dcdbb72bd625420b27bece61dede454283694e1175afc0fac1f39248fe1774e89c5bc95f60a6ef7d48dd491143ea7e4ec250215dec79"

[nix]
channel = "stable-25_05"
